3.cbp
3.depend
3.layout
bin/Debug/3.exe
domino-covering-1.out
main.cpp.save-failed
main.exe
main.o
obj/Debug/main.o
obj/Debug/vector2.h.o
obj/Debug/vector2d.o
search.out
sum.out
vector2d.h.gch
vector2.h.cpp
.vscode
